@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: white;
}

.navbar{
    background-color: #abd5f7; 
    a{
        color: rgb(246, 246, 252);
    }
    a:hover{
        color: red;
    }
    .logo{
        padding-left: 20px;
        font-size: 30px;
        font-family: 'Fredoka One', cursive;
        text-shadow: 2px 2px 2px 1px rgb(246, 246, 209);
    }

    li{   
        padding-right: 20px;
        a{
            font-size: 20px;
            font-family: 'Fredoka One', cursive;
            text-shadow: 2px 2px 2px 1px rgb(246, 246, 209);
        }
    }
    button{
        margin-right: 20px;
        background-color: #fdfcfb;
    }   
}

.espacio{
    height: 75px;
}

.jumbotron{
    height: 300px;   
    text-align: center;
    font-family: 'Fredoka One', cursive;
    color: rgb(0, 17, 255);
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.6)), url(/fotos/store-906722_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    

    h1{
        font-family: 'Fredoka One', cursive;
        color: rgb(251, 252, 255);
        text-shadow: 1px 2px 1px 2px rgb(248, 243, 243);
        font-size: 30px;
    }
    p{
        font-family: 'Fredoka One', cursive;
        color: rgb(255, 255, 255);
        font-size: 25px;
        text-shadow: 1px 1px 1px 2px  rgb(248, 243, 243);
    }
}

.quienes{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #abd5f7;;
    border-radius: 1px;
    h3{
        
        font-size: 40px;
        font-family: 'Fredoka One', cursive;
        text-align: center;
        color: rgb(255, 255, 255);
    }
    img{
        padding: 10px;
        height: 310px;
        border-radius: 15px;
    }
    h4{
        text-align: center;
        font-size: 25px;
        font-family: 'Fredoka One', cursive;
        color: rgb(255, 255, 255);
        text-shadow: 2px 2px 5px 1px white;
        padding-top: 25px;
    }
    p{
        text-align: center;
        font-size: 25px;
        font-family: 'Fredoka One', cursive;
        color: rgb(242, 243, 248);
        text-shadow: 2px 2px 5px 1px white;
        padding: 30px;
    }
}

.conteiner-fluid{
    margin-bottom: 10px;

}

.card{
    margin: 5px;
    margin-top: 5px;
    border-radius: 15px;
    height: 550px;
    background-color:  rgb(255, 255, 255);

    img{
        height: 320px;
        border-radius: 10px;  
    }
    h4{
        color: rgb(7, 7, 7);
        font-size: 20px;
        text-shadow: 1px 1px 5px 1px rgb(248, 248, 248);
    }
    p{
        color: rgb(118, 118, 189);
        font-size: 20px;
    }
    .carrito{
        display: flex;
        justify-content: center;
        padding-left: 30px;
        i{
            padding-top: 18px;
            padding-left: 10px;
            font-size: 25px;
            color: rgb(238, 64, 64);
        }
    }
}

.productos-hombres{  
    
    width: 85%;
    margin: auto;
    text-align: center;
    h2{
        color: rgb(22, 45, 255);
        font-size: 45px;
        font-family: 'Fredoka One', cursive;
        text-shadow: 2px 2px 5px cyan;
        margin-bottom: 20px;
    }
    .btn{
        margin-top: 10px;
        font-family:cursive;
    }
    img{
        padding-top: 10px;
    }
    .boton-todo{
        margin-top: 20px;
        margin-bottom: 60px;

        button{
            font-size: 26px;
        }
    }
}
.productos-mujer{
    text-align: center;
    margin-top: 20px;
    width: 85%;
    margin: auto;
    h2{
        color: rgb(22, 45, 255);
        font-size: 45px;
        font-family: 'Fredoka One', cursive;
        text-shadow: 2px 2px 5px cyan;
        margin-bottom: 20px;
    }
    .card{
        background-color: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
    }
    .btn{
        margin-top: 20px;
        font-family:cursive;
    }
    img{
        padding-top: 10px;
    }
    .boton-todo{
        margin-top: 20px;
        margin-bottom: 60px;

        button{
            font-size: 26px;
        }
    }
}

@mixin letra-color($fuente,$color) {
    font-family:$fuente;
    color: $color;
}

footer{

    width: 99%;
    margin: auto;
    margin-bottom: 2px;
    border: solid black 1px;
    h3{
        @include letra-color(verdana,black);
        font-size: 10px;
        text-align: center;
    }
    .redes{
        h4{
            @include letra-color(verdana,black);
            padding-left: 35px;
            text-shadow: 2px 2px 2px  white;
        }
        i{
            padding-bottom: 15px;
            padding-top: 15px;
            padding-left: 30px;
            color: blue;
        }
        a{
            text-decoration: none;
            color: rgb(0, 0, 0);
            padding-left: 20px;
            font-family:Verdana, Geneva, Tahoma, sans-serif;
            &:hover{
                color: red;
            }
        }
    }
    .pagos{
        h4{
            @include letra-color(verdana,black);
            text-shadow: 2px 2px 2px  white;
        }
        p{
            color: rgb(0, 0, 0);
            font-family:Verdana, Geneva, Tahoma, sans-serif;
            padding-left: 30px;
        }
        i{
            padding-left: 10px;
            font-size: 20px;
            color: blue;
        }
    }
    .yo{
        h4{
            @include letra-color(verdana,black);
            text-shadow: 2px 2px 2px  white;
        }
        p{
            color: rgb(5, 5, 5);
            padding-top: 10px;
            padding-left: 30px;
        }
        i{
            padding-left: 10px;
            font-size: 20px;
            color: blue;
        }
    }
}

.carousel{
    margin-top: 100px;
    margin-left: 100px;
    .card{
        background-color: #abd5f7;
    }
    img{
        width: 99%;
        padding-left: 3px;
        padding-top: 5px;
    }
    h4{
        margin-top: 40px;
        color: red;
        text-align: center;
    }
    p{
        color: blue;
        text-align: center;
    }
    .btn{
        background-color: black;
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 20px;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        border: none;
    }
}

.caja-mujer{
    background-color: rgb(237, 226, 75);
    height: 800px;
    margin-top: 100px;
    border: solid 2px red;
    width: 99%;
    margin-left: auto;
    margin-right: auto;

    .sub-caja{
        background-color: rgb(237, 211, 178);
        height: 750px;
        border: 2px solid black;
        margin: 30px;
    }
    .item-mujer{
        background-color: aqua;
        height: 250px;
        width: 300px;
        border: solid 1px black;
        margin: 10px;
        display: block;
        h4{
            text-align: center;
        }
        p{
            text-align: center;
        }
        img{
            height: 160px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            border: 1px solid red;
        }
    }
}

.contactos{
    background-image: linear-gradient(rgba(29, 29, 29, 0.7),rgba(0,0,0,0.4)), url(/fotos/contactos-body.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
}

.formulario{
    width: 95%;
    height: 800px;
    margin-top: 120px;
    margin-bottom: 20px;
    background:rgb(0, 0, 0, 0.4);
    border: solid 1px white;
    border-radius: 8px;
    h5{
        color: red;
        text-align: center;
        font-family: 'DM Serif Display', serif;
        margin-top: 5px;
        font-size: 35px;
        text-shadow: 1px 1px 10px  rgb(28, 4, 243);
    }
    label{
        color: red;
        padding-left: 5px;
        font-size: 20px;
        text-shadow: 1px 1px 10px  rgb(28, 4, 243);
        font-family: 'DM Serif Display', serif;
    }
    input{
        background-color: antiquewhite;
    }
    textarea{
        background-color: antiquewhite;
    }
    button{
        color: red;
        text-shadow: 1px 1px 10px  rgb(28, 4, 243);
        background-color: antiquewhite;
        text-align: center;
        font-family: 'DM Serif Display', serif;
        font-size: 18px;
        width: 100px;
        height: 40px;
        border-radius: 10px;
        &:hover{
            color: aqua;
        }
    }
}