* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

header {
    background-color: #bae9f3;
    width: 100%;
    height: 100px;
    font-family: 'Courier New', Courier, monospace;
    }

.barra ul li{      
    list-style: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.barra-1{
    display:flex;
    flex-direction: row;
    justify-content:center; 
    padding-top: 40px;
    padding-left: 20px;
}

.barra a {
    color: blue;
    text-decoration: none;
    font-size: 20px;
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 33%);
    border:rgba(1, 56, 235, 0.863) solid;
    border-radius: 10px;
    padding: 10px;
    margin: 0px 50px 0px 0px;
}

.barra-1 a:hover{
    font-size: 30px;
    color: rgb(0, 255, 123);
}

main {
    width: 100%;
    background-color:#f3babb;
    background-image: url(multimedia/feather-1588819.jpg);
    background-size:cover;
    padding-top: 10px;
}  

.logo {
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color:#91def0;
    width: 100%;
    height:140px;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 70px;
    color: blue;
}  

h3{
    font-size: 25px;
    text-align: center;
    background-color: rgb(243, 236, 213);
    width: 100%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(0, 38, 255);
    margin-top: 20px;
}

#titulo-hombre{
    font-size: 50px;
    padding-bottom: 10px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 2px blue solid;
    border-radius: 20px;
}

p{
    color: blue;
    font-size: 20px;
    padding-top: 10px;
    
}

h2 {
    text-align: center;
    background-color: #fad2f9;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
    color: red;
    font-size: 25px;
}

footer {
    height: 100px;
    text-align: center;
    background-color: rgb(170, 191, 247);
    padding: 1px;
}

footer p {
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}

footer .redes i {
    font-size: 25px;
    margin: 5px;
    background-color: rgb(170, 191, 247);
    color: black;
    letter-spacing: 20px;
}

.subir {
    height: 50px;
    width: 50px;
    background-color: orange;
    text-align: center;
    line-height: 50px;
    border: 2px solid black;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    font-size: 25px;
}

.formulario{
    width: 70%;
    height: 600px;
    background-color: rgb(170, 191, 247);
    margin-top: 60px;
    border: 2px black solid;
    margin-left: 250px;
    overflow: hidden;
    font-size: 23px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.boton-for{
    background-color: cornflowerblue;
    width: 100px;
    height: 30px;
    text-align: center;
    font-size: 12px;
    margin-left: 3px;
}
.form{
    margin-left: 10px;
    padding: 3px;
}

.todo-ropa{
    width: 900px;
    height: 300px;
    background-color: gainsboro;
    border: 2px black solid;
    margin-left:20px ;
    margin-top: 80px;
}
.todo-ropa h2{
    background-color: gainsboro;
    text-align: left;
    font-size: 30px;
    color: blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px;
}
img{
    width: 180px;
    height: 180px;
    border: 2px black solid;
    margin-left: 30px;
}

button{
    margin-left: 55px;
    margin-right: 65px;
    width:100px;
    height:30px;
    display:inline;
    background-color:aqua;
}

#colormujer{
    background-color: #f3babb;
}
#colorniño{
    background-color: cornflowerblue;
}
.ropa-hombre{
    display: flex;
    align-content: center;
    height:700px;
    width: 95%;
    background-color: #6babe7;
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    grid-template-rows:repeat(4, 1fr) ;
    grid-template-areas: "foto1 foto1 foto2"
                         "foto3 foto4 foto5"
                         "foto3 foto4 foto5"
                         "foto3 foto6 foto6";
    grid-gap: 10px;
    padding: 10px;
    margin: 50px;
                      
}

.galeria{
    border: 2px black solid;
    border-radius: 5px;
}

.todo-hombre1{
    background-image: url(/multimedia/accesorioshombres.jpg);
    background-size: cover;
    background-position: center;
    grid-area: foto1;
}

.todo-hombre2{
    background-image: url(/multimedia/pantalon-hombre.jpg);
    background-size: cover;
    background-position: center;
    grid-area: foto2;
}

.todo-hombre3{
    background-image: url(/multimedia/remeras-blancas.jpg);
    background-size: cover;
    background-position: center;
    grid-area: foto3;
}
    
.todo-hombre4{  
    background-image: url(/multimedia/remera-hombre.jpg);
    background-size: cover;
    background-position: center;
    grid-area: foto4;
}
.todo-hombre5{   
    background-image: url(/multimedia/zapas-hombred.jpg);
    background-size: cover;
    background-position: center;
    grid-area: foto5;
}
.todo-hombre6{
    background-image: url(/multimedia/images.jpg);
    background-size: cover;
    background-position: center;
    grid-area: foto6;
}

.ropa-mujer{
    height:700px;
    width: 95%;
    background-color: #6babe7;
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    grid-template-rows:repeat(4, 1fr) ;
    grid-template-areas: "fotom1 fotom4 fotom2"
                         "fotom3 fotom4 fotom5"
                         "fotom3 fotom4 fotom5"
                         "fotom6 fotom6 fotom5";
    grid-gap: 10px;
    padding: 10px;
    margin: 50px;
                      
}
.todo-mujer1{
    background-image: url(/multimedia/accesorios.jpg);
    background-size: cover;
    background-position: center;
    grid-area: fotom1;
}

.todo-mujer2{
    background-image: url(/multimedia/pantalon-mujer.jpg);
    background-size: cover;
    background-position: center;
    grid-area: fotom2;
}

.todo-mujer3{
    background-image: url(/multimedia/zapas-mujer.jpg);
    background-size: cover;
    background-position: center;
    grid-area: fotom3;
}
    
.todo-mujer4{  
    background-image: url(/multimedia/remera.mujer.jpg);
    background-size: cover;
    background-position: center;
    grid-area: fotom4;
}
.todo-mujer5{   
    background-image: url(/multimedia/modelos.jpg);
    background-size: cover;
    background-position: center;
    grid-area: fotom5;
}
.todo-mujer6{
    background-image: url(/multimedia/cartel.jpg);
    background-size: cover;
    background-position: center;
    grid-area: fotom6;
}


.contenedor{
    height: auto;
    width: 100%;
    background-color: cadetblue;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 200px 200px 200px;
    grid-template-areas:  "ima1 ima2 ima3 ima3"
                          "ima1 ima4 ima5 ima6"
                           "ima7 ima4 ima8 ima8"
    ;
    grid-gap: 20px;
    padding: 20px;
}

.item{
    border: 2px solid black;
    border-radius: 7px;
}

.item1{
    background-image: url(remeras/imagen1.jpg);
    background-size: center;
    background-position: center;
    grid-area: ima1;
}

.item2{
    background-image: url(remeras/imagen2.jpg);
    background-size: cover;
    background-position: center;
    grid-area: ima2;
}
.item3{
    background-image: url(remeras/imagen3.jpg);
    background-size: auto;
    background-position: center;
    grid-area: ima3;
}
.item4{
    background-image: url(remeras/imagen4.jpg);
    background-size: cover;
    background-position: center;
    grid-area: ima4;
}
.item5{
    background-image: url(remeras/imagen5.jpg);
    background-size: cover;
    background-position: center;
    grid-area: ima5;
}
.item6{
    background-image: url(remeras/imagen6.jpg);
    background-size: cover;
    background-position: center;
    grid-area: ima6;
}
.item7{
    background-image: url(remeras/imagen7.jpg);
    background-size: cover;
    background-position: center;
    grid-area: ima7;
}
.item8{
    background-image: url(remeras/imagen8.jpg);
    background-size: cover;
    background-position: center;
    grid-area: ima8;
    
}