@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    background-image: white;
}

.navbar{
    background-image: linear-gradient(-225deg, #B7F8DB 0%, #50A7C2 100%);
    a{
        color: rgb(0, 17, 255);
    }
    a:hover{
        color: red;
    }
    .logo{
        padding-left: 20px;
        font-size: 30px;
        font-family: 'Fredoka One', cursive;
        text-shadow: 1px 1px 1px rgb(246, 246, 209);
    }
    li{  
        a{
            font-size: 20px;
            font-family: 'Fredoka One', cursive;
            text-shadow: 1px 1px 5px rgb(246, 217, 209);
        }
    }
}

.espacio{
    height: 60px;
}

.jumbotron{
    
    text-align: center;
    font-size: 18px;
    font-family: 'Fredoka One', cursive;
    color: rgb(0, 17, 255);
    background-image: linear-gradient(-225deg, #B7F8DB 0%, #50A7C2 100%);

    h1{
        font-family: 'Fredoka One', cursive;
        color: rgb(0, 17, 255);
        text-shadow: 1px 1px 1px rgb(246, 246, 209);
    }
    p{
        font-family: 'Fredoka One', cursive;
        color: rgb(0, 17, 255);
        font-size: 25px;
        text-shadow: 1px 1px 1px rgb(246, 246, 209);
    }
}

.quienes{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    background-image: linear-gradient(-225deg, #B7F8DB 0%, #50A7C2 100%);
    width: 100%;
    border-radius: 5px;
    
    h3{
        
        font-size: 40px;
        font-family: 'Fredoka One', cursive;
        text-align: center;
        color: rgb(0, 17, 255);
    }
    img{
        padding: 10px;
        height: 310px;
    }
    h4{
        text-align: center;
        font-size: 25px;
        font-family: 'Fredoka One', cursive;
        color: rgb(0, 17, 255);
        text-shadow: 2px 2px 5px white;
        padding-top: 25px;
    }
    p{
        text-align: center;
        font-size: 25px;
        font-family: 'Fredoka One', cursive;
        color: rgb(0, 17, 255);
        text-shadow: 2px 2px 5px white;
        padding: 30px;
    }
}

.conteiner-fluid{
    margin-bottom: 10px;

}

.card{
    margin: auto;
    margin-top: 5px;
    border-radius: 15px;
    h4{
        color: red;
        font-size: 20px;
        text-shadow: 1px 1px 5px coral;
    }
    p{
        color: blue;
        font-size: 20px;
    }
    i{
        font-size: 28px;
        color: red;
    }
}

.productos-hombres{  
    text-align: center;
    background-color: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);

    h2{
        color: rgb(0, 17, 255);
        font-size: 45px;
        font-family: 'Fredoka One', cursive;
        text-shadow: 2px 2px 5px cyan;
        margin-bottom: 20px;
    }
    .btn{
        margin-top: 10px;
        font-family:cursive;
    }
    img{
        padding-top: 10px;
    }
}
.productos-mujer{
    text-align: center;
    margin-top: 20px;
    h2{
        color: rgb(247, 90, 181);
        font-size: 45px;
        font-family: 'Fredoka One', cursive;
        text-shadow: 2px 2px 5px cyan;
        margin-bottom: 20px;
    }
    .card{
        background-color: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
    }
    .btn{
        margin-top: 10px;
        font-family:cursive;
    }
    img{
        padding-top: 10px;
    }
}