@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
$color-hombre: #aaafb4;
$color-mujer:rgb(249, 202, 242);
$letra-1:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$letra-2:'Fredoka One', cursive;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: rgb(255, 255, 255);
}

.envio{
    text-align: center;
    font-family: $letra-2;
    background-color: rgb(246, 222, 222);
    height:22px;
    margin-bottom: auto;
    margin-top: auto;
    color: rgb(234, 34, 134);
}

.navbar{
    a{
        color: rgb(246, 246, 252);
    }
    a:hover{
        color: white;
    }
    .logo{
        color: rgb(234, 34, 134);
        padding-left: 20px;
        font-size: 30px;
        font-family: $letra-2;
        text-shadow: 2px 2px 2px 1px rgb(246, 246, 209);
    }

    li{   
        padding-right: 20px;
        a{
            font-size: 20px;
            font-family: $letra-2;
            text-shadow: 2px 2px 2px 1px rgb(246, 246, 209);
            padding-left: 15px;
            color: rgb(234, 34, 134);
        }
    }
    button{
        margin-right: 20px;
        background-color: #fdfcfb;
        margin-left: 10px;
    }   
}

.espacio{
    height: 95px;
}

.jumbotron{  
    text-align: center;
    font-family: 'Fredoka One', cursive;
    color: rgb(0, 17, 255);
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(/fotos/store-906722_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 210px;
    .text{
        
        h1{
            font-family:$letra-2;
            color: rgb(234, 34, 134);
            font-size: 45px;
            margin-top: 5px;
        }
        p{
            font-family:$letra-2;
            color: rgb(234, 34, 134);
            font-size: 20px;
        }
    }
}

.carro{
    margin-top: 20px;
    margin-bottom: 20px;
    img{
        border-radius: 5px;
    }
}


.quienes{
    margin-top: 10px;
    margin-bottom: 50px;
    background-color: #abd5f7;;
    border-radius: 1px;
    img{
        height: 400px;
        width: 500px;
        padding: 10px 10px 10px 10px;
        border-radius: 20px;
        margin: auto;
    }
    h4{
        text-align: center;
        font-size: 25px;
        font-family:$letra-2;
        color:  rgb(234, 34, 134);
        text-shadow: 2px 2px 5px 1px white;
        padding-top: 25px;
    }
    p{
        text-align: center;
        font-size: 30px;
        font-family:$letra-2;
        color: rgb(234, 34, 134);
        text-shadow: 2px 2px 5px 1px white;
        padding: 30px;
        text-align:justify;
    }
}

.card{
    margin-top: 5px;
    border-radius: 15px;
    border: none;
    margin: 40px;
    background-color: rgb(75, 74, 74);
    &:hover{
        img{
            filter: brightness(50%);
        }
        h4{
            font-size: 22px;
        
        }
        p{
            font-size: 17px;
            
        }
        .btn{
            font-size: 18px;
        }
    }

    img{
        height: 300px;
        border-radius: 5px;
        transition: all 0.8s ease;
        
    }
    h4{
        color: white;
        font-size: 20px;
        text-shadow: 1px 1px 5px 1px rgb(248, 248, 248);
        transition: all 0.8s ease;
        font-family:$letra-2;
    }
    p{
        color: white;
        font-size: 15px;
        transition: all 0.8s ease;
        font-family:$letra-1;
    }

    .btn{
        font-size: 15px;
        background-color: #fdfcfb;
        color: black;
        font-family:$letra-2;
        border: 2px solid rgb(8, 8, 8);
    }
    .carrito{
        display: flex;
        justify-content: center;
        padding-left: 30px;
        i{
            padding-top: 18px;
            padding-left: 10px;
            font-size: 20px;
            color: rgb(255, 255, 255);
        }
    }
}

.productos-hombres{
    text-align: center;
    
    h2{
        color: rgb(0, 0, 0);
        font-size: 45px;
        font-family:$letra-1;
        text-shadow: 2px 2px 2px rgb(250, 169, 169);
        margin-bottom: 20px;
    }
    .btn{
        margin-top: 10px;
        font-family:cursive;
        }
    
    img{
        padding-top: 10px;
    }
    .boton-todo{
        margin-top: 20px;
        margin-bottom: 60px;

        button{
            font-size: 26px;
            a{
                color: #fdfcfb;
                text-decoration: none;
            }
        }
    }
}
.productos-mujer{
    text-align: center;
    h2{
        color: rgb(0, 0, 0);
        font-size: 45px;
        font-family:$letra-1;
        text-shadow: 2px 2px 2px rgb(250, 169, 169);
        margin-bottom: 20px;
    }
    .btn{
        margin-top: 10px;
        font-family:$letra-2;
    }
    img{
        padding-top: 10px;
    }
    .boton-todo{
        margin-top: 20px;
        margin-bottom: 60px;

        button{
            font-size: 26px;
            a{
                color: #fdfcfb;
                text-decoration: none;
            }
        }
    }
}

.oferta{
    height: 200px;
    background-color: rgb(75, 74, 74);
    color: #fdfcfb;
    text-align: center;
    font-family:monospace;
    input{
        width: 90%;
        margin: auto;
    }
    button{
        background-color: white;
        height: 40px;
        width: 120px;
        color: black;
        border-radius: 5px;
        text-align: center;
        font-size: 15px;
        margin-bottom: 5px;
        margin-top: 5px;
        transition: all 0.5s ease;
        &:hover{
            height: 45px;
            width: 125px;
        }
    }
}


@mixin letra-color($fuente,$color) {
    font-family:$fuente;
    color: $color;
}

footer{
    width: 100%;
    margin-bottom: 2px;
    margin-top: 50px;
    
    h4{
        @include letra-color($letra-1,white);
        
        font-size: 15px;
        padding-left: 5px;
    }
    h3{
        @include letra-color($letra-2,white);
        font-size: 10px;
        text-align: center;
    }
    p{
        color: white;
        padding-top: 10px;
        padding-left: 10px;
        font-size: 15px;
        font-family:$letra-2;
    }

    .redes{
        i{
            padding-bottom: 15px;
            padding-top: 15px;
            padding-left: 5px;
            color: pink;
            font-size: 15px;
        }
        a{
            text-decoration: none;
            color: rgb(255, 255, 255);
            padding-left: 20px;
            font-family:$letra-2;
            
            &:hover{
                color:palevioletred;
            }
        }
    }
    .pagos{
        i{
            padding-left: 10px;
            font-size: 15px;
            color: pink;
        }
    }
    .yo{
        i{
            padding-left: 10px;
            font-size: 20px;
            color: pink;
        }
    }
}

.contactos{
    background-image: linear-gradient(rgba(29, 29, 29, 0.7),rgba(0,0,0,0.4)), url(/fotos/contactos-body.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
}

.formulario{
    width: 95%;
    height: 800px;
    margin-top: 120px;
    margin-bottom: 20px;
    background:rgb(0, 0, 0, 0.4);
    border: solid 1px white;
    border-radius: 8px;
    h5{
        color: red;
        text-align: center;
        font-family: 'DM Serif Display', serif;
        margin-top: 5px;
        font-size: 35px;
        text-shadow: 1px 1px 10px  rgb(28, 4, 243);
    }
    label{
        color: red;
        padding-left: 5px;
        font-size: 20px;
        text-shadow: 1px 1px 10px  rgb(28, 4, 243);
        font-family: 'DM Serif Display', serif;
    }
    input{
        background-color: antiquewhite;
    }
    textarea{
        background-color: antiquewhite;
    }
    button{
        color: red;
        text-shadow: 1px 1px 10px  rgb(28, 4, 243);
        background-color: antiquewhite;
        text-align: center;
        font-family: 'DM Serif Display', serif;
        font-size: 16px;
        width: 100px;
        height: 40px;
        border-radius: 10px;
        &:hover{
            color: aqua;
        }
    }
}

.titulo-mujer{
    margin-top: 130px;
    margin-bottom: 40px;
    h1{
        text-align: center;
        color: rgb(234, 34, 134);
        font-family:$letra-1;
    }
}

.foto-portada{
    img{
        width: 100%;
    }
}

.mujer-venta{
    font-family: monospace;
    text-align: center;
    border-radius: 10px;
    h4{
        margin-top: 30px;
        text-align: center;
        font-size: 45px;
        font-family: $letra-1;
        color: rgb(234, 34, 134);
    }  
    .item-1{
        margin-top: 20px;
        background-color:$color-mujer;
        margin: 40px;
        border-radius: 10px;
        &:hover{
            img{
                filter: brightness(50%);
            }
            p{
                color:white;
            }
        }
        img{
            margin-top: 10px;
            width: 100%;
            border-radius: 10px;
            transition: all 0.8s ease;
        }
        p{
            margin-top: 5px;
            text-align: center;
            color: #080808;
            font-family:$letra-2;
        }
        button{
            text-align: center;
            background-color: rgb(224, 124, 177);
            margin: 10px;
            padding: 10px;
            border-radius: 5px;
            transition: all 0.8s ease;
            &:hover{
                background-color: fuchsia;
                color: white;
            }
        }
    }
}
.titulo-hombre{
    margin-top: 120px;
    color: #45a4f1;
    text-align: center;
    font-family: $letra-1;
}
.foto-portada-hombre{
    margin-top: 30px;
    img{
        width: 100%;
        
    }
}

.hombre-venta{
    text-align: center;

    h4{
        text-align: center;
        font-family:$letra-1;
        margin-top: 40px;
        font-size: 45px;
        color: #45a4f1;
    }
    
    .item-1{
        margin-top:10px;
        border-radius: 10px;
        background-color: $color-hombre;
        margin: 40px;
    
        img{
            width: 100%;
            margin-top: 10px;
            transition: all 0.9s ease;
        }
        button{
            margin: 10px;
            text-align: center;
            
            padding: 8px;
            border-radius: 8px;
            background-color: lightgray;
            transition: all 0.8s ease;
        }
        p{
            color: black;
            margin-top: 10px;
            font-family: $letra-2;
            font-size: 18px;
        }
        &:hover{
            p{
                color: #45a4f1;
            }
            img{
                filter: brightness(50%);
            }  
            button{
                background-color: white;
                color: #45a4f1;
                border: solid 2px #45a4f1;
            }
        }
    }
}

.medios-pagos{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: black;
    margin-top: 20px;
    h3{
        text-align: center;
        margin: 20px;
        font-family: $letra-1;
        color: #fdfcfb;
    }
    .pago{
        margin: 10px;
        img{
            width: 100%;
            height: 200px;
            padding: 5px;
            border: solid white 1px;
            border-radius: 5px;
        }
        p{
            text-align: center;
            margin-top: 5px;
            font-family: $letra-2;
            font-size: 20px;
            color: #fdfcfb;
        }
    }
}