@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
}

.envio {
  text-align: center;
  background-color: rgb(246, 222, 222);
  height: 22px;
  margin-bottom: auto;
  margin-top: auto;
  color: rgb(234, 34, 134);
}

.navbar {
  background-color: #abd5f7;
}
.navbar a {
  color: rgb(246, 246, 252);
}
.navbar a:hover {
  color: red;
}
.navbar .logo {
  padding-left: 20px;
  font-size: 30px;
  font-family: "Fredoka One", cursive;
  text-shadow: 2px 2px 2px 1px rgb(246, 246, 209);
}
.navbar li {
  padding-right: 20px;
}
.navbar li a {
  font-size: 20px;
  font-family: "Fredoka One", cursive;
  text-shadow: 2px 2px 2px 1px rgb(246, 246, 209);
  padding-left: 15px;
}
.navbar button {
  margin-right: 20px;
  background-color: #fdfcfb;
  margin-left: 10px;
}

.espacio {
  height: 95px;
}

.jumbotron {
  text-align: center;
  font-family: "Fredoka One", cursive;
  color: rgb(0, 17, 255);
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(/fotos/store-906722_1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 200px;
}
.jumbotron .text h1 {
  font-family: "Fredoka One", cursive;
  color: rgb(234, 34, 134);
  text-shadow: 1px 1px 1px rgb(248, 243, 243);
  font-size: 55px;
}
.jumbotron .text p {
  font-family: "Fredoka One", cursive;
  color: rgb(234, 34, 134);
  font-size: 30px;
  text-shadow: 1px 1px 1px rgb(248, 243, 243);
}

.carro {
  margin-top: 20px;
  margin-bottom: 20px;
}
.carro img {
  border-radius: 5px;
}

.quienes {
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #abd5f7;
  border-radius: 1px;
}
.quienes img {
  height: 500px;
  width: 500px;
  padding: 10px 10px 10px 10px;
  border-radius: 20px;
  margin: auto;
}
.quienes h4 {
  text-align: center;
  font-size: 35px;
  font-family: "Fredoka One", cursive;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 5px 1px white;
  padding-top: 25px;
}
.quienes p {
  text-align: center;
  font-size: 30px;
  font-family: "Fredoka One", cursive;
  color: rgb(242, 243, 248);
  text-shadow: 2px 2px 5px 1px white;
  padding: 30px;
  text-align: justify;
}

.card {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  border: none;
}
.card img {
  height: 300px;
  border-radius: 20px;
}
.card h4 {
  color: rgb(7, 7, 7);
  font-size: 15px;
  text-shadow: 1px 1px 5px 1px rgb(248, 248, 248);
}
.card p {
  color: rgb(20, 20, 227);
  font-size: 15px;
}
.card .btn {
  font-size: 12px;
}
.card .carrito {
  display: flex;
  justify-content: center;
  padding-left: 30px;
}
.card .carrito i {
  padding-top: 18px;
  padding-left: 10px;
  font-size: 20px;
  color: rgb(238, 64, 64);
}

.productos-hombres {
  text-align: center;
}
.productos-hombres h2 {
  color: rgb(0, 0, 0);
  font-size: 60px;
  font-family: "Fredoka One", cursive;
  text-shadow: 2px 2px 2px rgb(250, 169, 169);
  margin-bottom: 20px;
}
.productos-hombres .btn {
  margin-top: 10px;
  font-family: cursive;
}
.productos-hombres .btn:hover {
  background-color: blue;
}
.productos-hombres img {
  padding-top: 10px;
}
.productos-hombres .boton-todo {
  margin-top: 20px;
  margin-bottom: 60px;
}
.productos-hombres .boton-todo button {
  font-size: 26px;
}

.productos-mujer {
  text-align: center;
  margin-top: 20px;
  margin: auto;
}
.productos-mujer h2 {
  color: rgb(0, 0, 0);
  font-size: 60px;
  font-family: "Fredoka One", cursive;
  text-shadow: 2px 2px 2px rgb(250, 169, 169);
  margin-bottom: 20px;
}
.productos-mujer .card {
  background-color: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}
.productos-mujer .btn {
  margin-top: 20px;
  font-family: cursive;
}
.productos-mujer img {
  padding-top: 10px;
}
.productos-mujer .boton-todo {
  margin-top: 20px;
  margin-bottom: 60px;
}
.productos-mujer .boton-todo button {
  font-size: 26px;
}

.oferta {
  height: 180px;
  background-color: black;
  color: #fdfcfb;
  text-align: center;
}
.oferta input {
  width: 90%;
  margin: auto;
}
.oferta button {
  background-color: white;
  height: 40px;
  width: 120px;
  color: black;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  margin-bottom: 5px;
  margin-top: 15px;
}

footer {
  width: 100%;
  height: 100px;
  margin: auto;
  margin-bottom: 2px;
  margin-top: 50px;
}
footer h4 {
  font-family: verdana;
  color: rgb(54, 13, 235);
  text-shadow: 2px 2px 2px white;
  font-size: 15px;
  padding-left: 5px;
}
footer h3 {
  font-family: verdana;
  color: rgb(255, 1, 1);
  font-size: 10px;
  text-align: center;
}
footer p {
  color: rgb(5, 5, 5);
  padding-top: 10px;
  padding-left: 10px;
  font-size: 15px;
}
footer .redes i {
  padding-bottom: 15px;
  padding-top: 15px;
  padding-left: 5px;
  color: blue;
  font-size: 15px;
}
footer .redes a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding-left: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
footer .redes a:hover {
  color: red;
}
footer .pagos i {
  padding-left: 10px;
  font-size: 15px;
  color: blue;
}
footer .yo i {
  padding-left: 10px;
  font-size: 20px;
  color: blue;
}

.caja-mujer {
  background-color: rgb(237, 226, 75);
  margin-top: 100px;
  border: solid 2px red;
  width: 98%;
}
.caja-mujer .item-mujer {
  background-color: aqua;
  height: 450px;
  width: 400px;
  border: solid 1px black;
  margin: 10px 0px 15px 30px;
  display: block;
}
.caja-mujer .item-mujer h4 {
  text-align: center;
  padding-top: 10px;
}
.caja-mujer .item-mujer h4:hover {
  font-size: 35px;
  color: red;
}
.caja-mujer .item-mujer p {
  text-align: center;
}
.caja-mujer .item-mujer img {
  height: 350px;
  width: 300px;
  display: block;
  margin: auto;
  border: 1px solid red;
}
.caja-mujer .item-mujer img:hover {
  height: 370px;
  width: 310px;
}

.contactos {
  background-image: linear-gradient(rgba(29, 29, 29, 0.7), rgba(0, 0, 0, 0.4)), url(/fotos/contactos-body.jpg);
  background-size: 100vw 100vh;
  background-attachment: fixed;
}

.formulario {
  width: 95%;
  height: 800px;
  margin-top: 120px;
  margin-bottom: 20px;
  background: rgba(0, 0, 0, 0.4);
  border: solid 1px white;
  border-radius: 8px;
}
.formulario h5 {
  color: red;
  text-align: center;
  font-family: "DM Serif Display", serif;
  margin-top: 5px;
  font-size: 35px;
  text-shadow: 1px 1px 10px rgb(28, 4, 243);
}
.formulario label {
  color: red;
  padding-left: 5px;
  font-size: 20px;
  text-shadow: 1px 1px 10px rgb(28, 4, 243);
  font-family: "DM Serif Display", serif;
}
.formulario input {
  background-color: antiquewhite;
}
.formulario textarea {
  background-color: antiquewhite;
}
.formulario button {
  color: red;
  text-shadow: 1px 1px 10px rgb(28, 4, 243);
  background-color: antiquewhite;
  text-align: center;
  font-family: "DM Serif Display", serif;
  font-size: 18px;
  width: 100px;
  height: 40px;
  border-radius: 10px;
}
.formulario button:hover {
  color: aqua;
}

.prueba {
  height: 600px;
  background-color: #e2d1c3;
  margin-top: 100px;
}
.prueba .items {
  background-color: aquamarine;
  height: 600px;
  position: relative;
}
.prueba .items img {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 5px;
  right: 20px;
  background-image: url(/fotos/mujer2.webp);
  background-size: cover;
  background-position: center;
}
.prueba .items img:hover {
  opacity: 0;
}/*# sourceMappingURL=estilos.css.map */