@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(255, 255, 255);
}

.envio {
  text-align: center;
  background-color: rgb(246, 222, 222);
  height: 22px;
  margin-bottom: auto;
  margin-top: auto;
  color: rgb(234, 34, 134);
}

.navbar a {
  color: rgb(246, 246, 252);
}
.navbar a:hover {
  color: white;
}
.navbar .logo {
  color: rgb(234, 34, 134);
  padding-left: 20px;
  font-size: 30px;
  font-family: "Fredoka One", cursive;
  text-shadow: 2px 2px 2px 1px rgb(246, 246, 209);
}
.navbar li {
  padding-right: 20px;
}
.navbar li a {
  font-size: 20px;
  font-family: monospace;
  text-shadow: 2px 2px 2px 1px rgb(246, 246, 209);
  padding-left: 15px;
  color: rgb(234, 34, 134);
}
.navbar button {
  margin-right: 20px;
  background-color: #fdfcfb;
  margin-left: 10px;
}

.espacio {
  height: 95px;
}

.jumbotron {
  text-align: center;
  font-family: "Fredoka One", cursive;
  color: rgb(0, 17, 255);
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(/fotos/store-906722_1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 210px;
}
.jumbotron .text h1 {
  font-family: monospace;
  color: rgb(234, 34, 134);
  text-shadow: 1px 1px 1px rgb(248, 243, 243);
  font-size: 50px;
  margin-top: 5px;
}
.jumbotron .text p {
  font-family: monospace;
  color: rgb(234, 34, 134);
  font-size: 20px;
  text-shadow: 1px 1px 1px rgb(248, 243, 243);
}

.carro {
  margin-top: 20px;
  margin-bottom: 20px;
}
.carro img {
  border-radius: 5px;
}

.quienes {
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #abd5f7;
  border-radius: 1px;
}
.quienes img {
  height: 400px;
  width: 500px;
  padding: 10px 10px 10px 10px;
  border-radius: 20px;
  margin: auto;
}
.quienes h4 {
  text-align: center;
  font-size: 25px;
  font-family: monospace;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 5px 1px white;
  padding-top: 25px;
}
.quienes p {
  text-align: center;
  font-size: 30px;
  font-family: monospace;
  color: rgb(242, 243, 248);
  text-shadow: 2px 2px 5px 1px white;
  padding: 30px;
  text-align: justify;
}

.card {
  margin-top: 5px;
  border-radius: 15px;
  background-color: rgb(20, 19, 19);
  border: none;
  margin: 40px;
}
.card:hover img {
  filter: brightness(50%);
}
.card:hover h4 {
  font-size: 22px;
}
.card:hover p {
  font-size: 17px;
}
.card:hover .btn {
  font-size: 18px;
}
.card img {
  height: 300px;
  border-radius: 5px;
  transition: all 0.8s ease;
}
.card h4 {
  color: white;
  font-size: 20px;
  text-shadow: 1px 1px 5px 1px rgb(248, 248, 248);
  transition: all 0.8s ease;
  font-family: monospace;
}
.card p {
  color: white;
  font-size: 15px;
  transition: all 0.8s ease;
  font-family: monospace;
}
.card .btn {
  font-size: 15px;
  background-color: #fdfcfb;
  color: black;
  font-family: monospace;
}
.card .carrito {
  display: flex;
  justify-content: center;
  padding-left: 30px;
}
.card .carrito i {
  padding-top: 18px;
  padding-left: 10px;
  font-size: 20px;
  color: rgb(255, 255, 255);
}

.productos-hombres {
  text-align: center;
}
.productos-hombres h2 {
  color: rgb(0, 0, 0);
  font-size: 45px;
  font-family: monospace;
  text-shadow: 2px 2px 2px rgb(250, 169, 169);
  margin-bottom: 20px;
}
.productos-hombres .btn {
  margin-top: 10px;
  font-family: cursive;
}
.productos-hombres img {
  padding-top: 10px;
}
.productos-hombres .boton-todo {
  margin-top: 20px;
  margin-bottom: 60px;
}
.productos-hombres .boton-todo button {
  font-size: 26px;
}
.productos-hombres .boton-todo button a {
  color: #fdfcfb;
  text-decoration: none;
}

.productos-mujer {
  text-align: center;
}
.productos-mujer h2 {
  color: rgb(0, 0, 0);
  font-size: 45px;
  font-family: monospace;
  text-shadow: 2px 2px 2px rgb(250, 169, 169);
  margin-bottom: 20px;
}
.productos-mujer .btn {
  margin-top: 10px;
  font-family: cursive;
}
.productos-mujer img {
  padding-top: 10px;
}
.productos-mujer .boton-todo {
  margin-top: 20px;
  margin-bottom: 60px;
}
.productos-mujer .boton-todo button {
  font-size: 26px;
}
.productos-mujer .boton-todo button a {
  color: #fdfcfb;
  text-decoration: none;
}

.oferta {
  height: 180px;
  background-color: black;
  color: #fdfcfb;
  text-align: center;
  font-family: monospace;
}
.oferta input {
  width: 90%;
  margin: auto;
}
.oferta button {
  background-color: white;
  height: 40px;
  width: 120px;
  color: black;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  margin-bottom: 5px;
  margin-top: 5px;
}

footer {
  width: 100%;
  margin-bottom: 2px;
  margin-top: 50px;
  background-color: rgb(246, 222, 222);
}
footer h4 {
  font-family: monospace;
  color: rgb(54, 13, 235);
  text-shadow: 2px 2px 2px white;
  font-size: 15px;
  padding-left: 5px;
}
footer h3 {
  font-family: monospace;
  color: rgb(22, 1, 255);
  font-size: 10px;
  text-align: center;
}
footer p {
  color: rgb(5, 5, 5);
  padding-top: 10px;
  padding-left: 10px;
  font-size: 15px;
  font-family: monospace;
}
footer .redes i {
  padding-bottom: 15px;
  padding-top: 15px;
  padding-left: 5px;
  color: blue;
  font-size: 15px;
}
footer .redes a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding-left: 20px;
  font-family: monospace;
}
footer .redes a:hover {
  color: red;
}
footer .pagos i {
  padding-left: 10px;
  font-size: 15px;
  color: blue;
}
footer .yo i {
  padding-left: 10px;
  font-size: 20px;
  color: blue;
}

.contactos {
  background-image: linear-gradient(rgba(29, 29, 29, 0.7), rgba(0, 0, 0, 0.4)), url(/fotos/contactos-body.jpg);
  background-size: 100vw 100vh;
  background-attachment: fixed;
}

.formulario {
  width: 95%;
  height: 800px;
  margin-top: 120px;
  margin-bottom: 20px;
  background: rgba(0, 0, 0, 0.4);
  border: solid 1px white;
  border-radius: 8px;
}
.formulario h5 {
  color: red;
  text-align: center;
  font-family: "DM Serif Display", serif;
  margin-top: 5px;
  font-size: 35px;
  text-shadow: 1px 1px 10px rgb(28, 4, 243);
}
.formulario label {
  color: red;
  padding-left: 5px;
  font-size: 20px;
  text-shadow: 1px 1px 10px rgb(28, 4, 243);
  font-family: "DM Serif Display", serif;
}
.formulario input {
  background-color: antiquewhite;
}
.formulario textarea {
  background-color: antiquewhite;
}
.formulario button {
  color: red;
  text-shadow: 1px 1px 10px rgb(28, 4, 243);
  background-color: antiquewhite;
  text-align: center;
  font-family: "DM Serif Display", serif;
  font-size: 18px;
  width: 100px;
  height: 40px;
  border-radius: 10px;
}
.formulario button:hover {
  color: aqua;
}

.titulo-mujer {
  margin-top: 130px;
  margin-bottom: 40px;
}
.titulo-mujer h1 {
  text-align: center;
  color: rgb(234, 34, 134);
  font-family: monospace;
}

.foto-portada img {
  width: 100%;
}

.mujer-venta {
  font-family: monospace;
  text-align: center;
  border-radius: 10px;
}
.mujer-venta h4 {
  margin-top: 30px;
  text-align: center;
  font-size: 35px;
}
.mujer-venta .item-1 {
  margin-top: 20px;
  background-color: rgb(249, 202, 242);
  margin: 40px;
}
.mujer-venta .item-1:hover img {
  filter: brightness(50%);
}
.mujer-venta .item-1:hover p {
  color: white;
}
.mujer-venta .item-1 img {
  margin-top: 5px;
  width: 100%;
  border-radius: 2px;
}
.mujer-venta .item-1 p {
  margin-top: 5px;
  text-align: center;
  color: #080808;
  font-family: monospace;
}
.mujer-venta .item-1 button {
  text-align: center;
  background-color: rgb(224, 124, 177);
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}
.mujer-venta .item-1 button:hover {
  background-color: fuchsia;
  color: white;
}

.titulo-hombre {
  margin-top: 100px;
  color: #45a4f1;
  text-align: center;
  font-family: monospace;
}

.foto-portada-hombre {
  margin-top: 30px;
}
.foto-portada-hombre img {
  width: 100%;
}

.hombre-venta {
  text-align: center;
}
.hombre-venta h4 {
  text-align: center;
  font-family: monospace;
  margin-top: 30px;
  margin-bottom: 30px;
}
.hombre-venta .item-1 {
  margin-top: 10px;
  border-radius: 10px;
  background-color: #aaafb4;
}
.hombre-venta .item-1 img {
  width: 100%;
  margin-top: 10px;
}
.hombre-venta .item-1 button {
  margin: 10px;
  text-align: center;
  padding: 8px;
  border-radius: 8px;
  background-color: lightgray;
}
.hombre-venta .item-1 p {
  color: #fdfcfb;
  margin-top: 10px;
  font-family: monospace;
}

.medios-pagos {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-color: black;
  margin-top: 20px;
}
.medios-pagos h3 {
  text-align: center;
  margin: 20px;
  font-family: monospace;
  color: #fdfcfb;
}
.medios-pagos .pago {
  margin: 10px;
}
.medios-pagos .pago img {
  width: 100%;
  height: 200px;
  padding: 5px;
  border: solid white 1px;
  border-radius: 5px;
}
.medios-pagos .pago p {
  text-align: center;
  margin-top: 5px;
  font-family: monospace;
  font-size: 20px;
  color: #fdfcfb;
}/*# sourceMappingURL=estilos.css.map */